* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: #264e72;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}
header {
    text-align: right;
    height: 50px;
    background-color: #f9f9f9;
    border-top: /*solid 1px #123054*/solid 0px #123054;
    margin-bottom: 18px;
}
header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    height: 50px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-right: 98px;
}
header ul li.active {
    background: none repeat-x scroll 10px 10px #00AEF0;
    color: #fff;
}
header li {
    margin: 0 10px;
    padding-left: 8px;
    padding-right: 8px;
}
header a {
    text-decoration: none;
    color: #333;
}
img.logo {
    width: 285.5px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 639px;
    height: 466px;
    margin: auto;
}

.form, .form-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form {
    background: #ffffff;
    overflow: hidden;
}
.form-img {
    border: solid 8px #ffffff;
}
img {
    width: 120%;
    height: 120%;
    margin-left: -27px;
    margin-top: -18px;
}
p {
    background-color: #00AEF0;
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100%;
    height: 44px;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size: 12px;
    margin: 0;
    line-height: 45px;
}
form {
    padding: 15px;
    padding-top: 5px;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
    /* overflow: hidden; */
}
label {
    font-size: 12px;
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    color: #333;
    margin-bottom: 2px;
}
input {
    background-color: #f0f0f0;
    width: inherit;
    height: 46px;
    border: 2px solid #f0f0f0;
    font-size: 14px;
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    color: #333;
    padding-left: 15px;
    border-left: 3px solid #f9a121;
}

input.button {
    margin-top: -10px;
    width: 100%;
    text-align: center;
    background-color: #00AEF0;
    color: white;
    font-size: 14px;
}
div.links {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 0px;
    padding-top: 0px;
}
a.link, span.link {
    font-size: 14px;
    display: block;
    padding-bottom: 5px;
    color: #004D63;
    font-family: 'Open Sans', sans-serif;
}

footer {
    text-align: center;
}
footer img {
    width: 120px;
    margin-top: 25px;
}