* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}
.menu-icon {
    width: 25px; /* Ancho del ícono */
    height: 17px; /* Altura suficiente para las tres rayas */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio igual entre las rayas */
    margin: auto 20px;
  }
  
  .menu-icon div {
    height: 4px; /* Altura de cada raya */
    background-color: orange; /* Color de las rayas */
    border-radius: 2px; /* Bordes redondeados */
    width: 100%; /* Ancho completo del contenedor */
  }
  
@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
    header {
        width: 100%;
    }
    img.carros {
        width: 65% !important;
    }
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
    h2 {
        font-size: 18px;
    }
    .client-data {
        width: 100%;
    }
    .client-data input, select {
        width: 100%;
    }
    .submit-button {
        width: 100%;
    }
    footer ul {
        width: 100%;
    }
    
}

nav {
    background-color: #ffff;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav img.logo {
    margin: auto 30px;
    width: 119px;
    height: 27px;
}
nav img.iconos {
    width: 72px;
    height: 25px;
    margin: auto 30px;
    margin-right: -100px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)
}
.container-vehicles {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
img {
    width: 50%;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
}
img.marcas {
    width: 300px;
    margin-top: 0;
}
h1 {
    font-size: 24px;
    color: #ff6600;
    margin-bottom: 10px;
}
h3 {
    font-size: 15px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #494949;
}
h2 {
    font-size: 20px;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.client-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-group {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 8px;
}
.input-group label::after {
    content: "*";
    color: red;
    margin-left: 3px;
}
.input-group input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #979797;
    border-radius: 5px;
    font-size: 16px;
}
select {
    background-color: inherit;
}
.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #264e72;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    text-transform: uppercase;
}
.submit-button:hover {
    background-color: #ff6600;
}

footer {
    background-color: #264e72;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
}
footer ul {
    width: 60%;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
}
footer ul li {
    list-style: none;
    display: block;
    text-align: left;
    font-size: 17px;
    line-height: 26px;
    margin-left: 40px;
    position: relative;
}
  
  li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px; /* Ajusta según sea necesario */
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #5c5c5ccc; /* Color de fondo azul */
    background-image: url('/img/flecha.png');
    border-radius: 50%; /* Hace el círculo */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
footer .imgs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.imgs img {
    display: flex;
}
.imgs img.logo-footer {
    justify-content: flex-start;
    margin-left: 20px;
}
.imgs img.sello {
    margin: auto;
    margin-top: 20px;
    width: 96px;
    height: 69px;
}
.imgs img.marcas {
    margin: 70px auto;
    width: 100%;
}
.imgs img.medias {
    margin: 0px;
    width: 155px;
}
p.copyright {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #264e72;
    margin-bottom: 30px;
}